$material-icons-font-path: '~material-icons/iconfont/';

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-icons/iconfont/material-icons.scss';
@import '~@angular/material/theming';
@import 'themes/';
@import '~@yangkghjh/videojs-aspect-ratio-panel/dist/videojs-aspect-ratio-panel.css';

@include mat-core();

body,
html {
    background: #fff;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.mat-toolbar.mat-primary {
    background: #000;
}

.full-width {
    width: 100%;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 54px;
}

input,
button,
textarea,
:focus {
    outline: none;

    .Activatecode, 
    http://nex.4k-iptv.net:80/c/
00:1A:79:56:AA:67 May 16, 2024
00:1A:79:28:1F:91 October 26, 2023
00:1A:79:8B:3B:BF January 24, 2024
00:1a:79:a1:76:31 September 17, 2023
00:1a:79:1C:15:62 January 23, 2024
00:1a:79:43:5b:c0 January 18, 2024
00:1A:79:44:EE:68 Unlimited
00:1A:79:C3:2C:22 July 3, 2023

http://mol-2.com:8080/c/
00:1A:79:5e:57:47 December 05, 2023
00:1A:79:ba:1f:77 November 06, 2023
00:1A:79:c7:be:fb May 16, 2024
00:1A:79:b2:31:f6 September 28, 2023
00:1A:79:b4:41:12 December 11, 2023
00:1A:79:c5:b8:d1 December 27, 2023
00:1A:79:ad:69:19 May 25, 2024
00:1A:79:b7:8f:4b July 04, 2023
00:1A:79:bf:bd:33 November 07, 2023
00:1A:79:ad:ec:db February 14, 2024
00:1A:79:a6:1f:68 October 26, 2023
00:1A:79:52:5f:54 July 19, 2024
00:1A:79:d2:20:da August 24, 2023
00:1A:79:b7:17:24 December 23, 2023
00:1A:79:b0:c8:78 April 01, 2024
00:1A:79:b3:9a:5b January 04, 2024
00:1A:79:ba:1d:6e January 20, 2024
00:1A:79:a7:cb:4d August 10, 2023
00:1A:79:b2:4d:c4 January 18, 2024
00:1A:79:38:b5:e6 November 17, 2023
00:1A:79:61:fd:6b October 23, 2023
00:1A:79:bd:57:20 November 29, 2023
00:1A:79:bf:64:f2 August 02, 2023
00:1A:79:a7:d2:2b March 01, 2024
00:1A:79:0c:9f:d4 April 13, 2024
00:1A:79:bf:7d:b0 September 23, 2023
00:1A:79:22:1b:00 September 06, 2023
00:1A:79:c3:b8:88 December 06, 2023
00:1A:79:c5:c8:77 February 02, 2024
00:1A:79:56:4e:af April 03, 2024
00:1A:79:c5:51:be November 19, 2023
00:1A:79:fa:09:e3 Unlimited
00:1A:79:22:1e:bd March 05, 2024
00:1A:79:35:9d:92 January 19, 2024
00:1A:79:bb:23:e9 December 07, 2023
00:1A:79:61:ec:63 September 11, 2023

http://live.lynxiptv.xyz:80/c
00:1A:79:AC:AC:6B, February 14, 2024, 6:36 pm
00:1A:79:AC:95:86, March 28, 2024, 5:31 pm
00:1A:79:AA:FA:CA, August 20, 2023, 6:51 pm
00:1A:79:85:65:84, February 6, 2024, 12:37 pm
00:1A:79:A9:44:25, May 1, 2024, 11:46 am
00:1A:79:A7:69:50, July 10, 2023, 4:15 pm
00:1A:79:A8:76:E5, October 19, 2023, 6:47 pm
00:1A:79:AF:FE:6F, November 9, 2023, 5:40 pm
00:1A:79:A8:A2:5F, October 2, 2023, 7:12 pm
00:1A:79:A4:F9:F4, November 19, 2023, 4:13 pm
00:1A:79:5D:4F:A8, October 17, 2023, 2:23 pm
00:1A:79:A9:A0:9D, August 4, 2023, 11:36 am
00:1A:79:AC:E9:38, August 30, 2023, 5:50 pm
00:1A:79:A8:A7:C8, November 1, 2023, 4:43

}

.dark-theme .mat-expansion-panel,
.dark-theme .mat-drawer,
.dark-theme .mat-app-background,
.dark-theme.mat-app-background {
    background-color: #1d1d1d;
}

.dark-theme {
    ::-webkit-scrollbar {
        overflow-y: scroll;
        background: rgb(100, 100, 100);
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(60, 60, 60);
    }
}

.mb-10 {
    margin-bottom: 10px;
}
